.show-hide-source {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-color: #1e87f0;
	color: #fff;
	border: 1px solid transparent;
	border: none;
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;
	padding: 0 30px;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, border-color;

	&:hover {
		background-color: #0f7ae5;
		color: #fff;
	}
}
