.mde-textarea-wrapper {
	position: relative;

	textarea.mde-textarea {
		border: 1px solid $border-color;
		padding: 10px;
		width: 100%;
		vertical-align: top;
		resize: none;
		overflow-y: auto;

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	& textarea.hidden {
		display: none;
	}
}
