.mde-textarea-wrapper {
  border-top: 1px solid $border-color;
  position: relative;

  textarea.mde-textarea {
    padding: 10px;
    width: 100%;
    border: 0;
    vertical-align: top;
    resize: none;
    overflow-y: auto;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  & textarea.hidden {
    display: none;
  }
}
