.mde-textarea-wrapper {
	position: relative;
	border: 1px solid $border-color;

	& .hidden {
		display: none;
	}
}

.mde-textarea {
	border: 0;
	padding: 10px;
	width: 100%;
	vertical-align: top;
	resize: none;
	overflow-y: auto;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}
