@import "vars.scss";

* {
	box-sizing: border-box;
}

.mde {
	width: 100%;
}

.mde-grip {
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	background-color: $toolbar-color;
	text-align: center;
	color: $grip-color;
	cursor: s-resize;

	.icon {
		height: $grip-icon-height;
	}
}
