@import "vars.scss";

.mde-toolbar {
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	border-top: 1px solid $border-color;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-radius: $border-radius $border-radius 0 0;
	background: $toolbar-color;

	.mde-toolbar-separator {
		display: inline-block;
		width: 0;
		border-left: 1px solid $mde-toolbar-separator-border-left-color;
		border-right: 1px solid $white-color;
		color: transparent;
		text-indent: -10px;
	}

	.mde-tabs {
		display: inline-block;
		position: relative;
		padding: 10px 5px;

		button {
			border-radius: $border-radius;
			padding: 8px;
			background-color: transparent;
			border: none;
			transition: background 0.3s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $mde-tabs-hover-color;
			}
		}
	}

	.svg-icon {
		width: 1.1em;
		height: 1.1em;
		display: inline-block;
		font-size: inherit;
		overflow: visible;
		vertical-align: -0.125em;
	}

	ul.mde-toolbar-group {
		margin: 0;
		padding: $toolbar-padding;
		list-style: none;
		display: flex;
		flex-wrap: nowrap;

		&.hidden {
			visibility: hidden;
		}

		li.mde-toolbar-item {
			display: inline-block;
			position: relative;

			button {
				text-align: left;
				cursor: pointer;
				padding: 8px;
				margin: 0;
				background: none;
				border: 0;
				color: $button-color;
				border-radius: $border-radius;
				transition: background 0.3s ease-in-out;
				&:hover {
					background: $mde-toolbar-item-hover-bg;
				}
				&:disabled {
					cursor: not-allowed;
					color: $mde-toolbar-item-disabled-color;
				}
				&:focus {
					outline: none;
					box-shadow: 0 0 1px 1px $focus-color;
					transition: all 0.2s ease-in-out;
				}
			}
			ul.mde-dropdown {
				position: absolute;
				left: 5px;
				top: 35px;
				background-color: $white-color;
				border: 1px solid $border-color;
				padding: 5px;
				z-index: 2;
				transform: translateX(-9px);
				li {
					margin: 0;
					white-space: nowrap;
					list-style: none;
					display: block;
					button {
						display: block;
						height: auto;
						p {
							display: block;
							margin: 0;
							padding: 0;
							font-weight: bold;
							line-height: 1em;
							background: none;
							border: 0;
							text-align: left;
							&.header-1 {
								font-size: 36px;
							}
							&.header-2 {
								font-size: 30px;
							}
							&.header-3 {
								font-size: 24px;
							}
							&.header-4 {
								font-size: 18px;
							}
							&.header-5 {
								font-size: 14px;
							}
							&.header-6 {
								font-size: 12px;
							}
						}
					}
				}
				&::before {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					border: 8px solid transparent;
					border-bottom-color: $mde-dropdown-border-bottom-color;
					top: -16px;
					left: 3px;
					transform: translateX(50%);
				}
				&::after {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					border: 7px solid transparent;
					border-bottom-color: $white-color;
					top: -14px;
					left: 5px;
					transform: translateX(50%);
				}
			}
		}
	}
}
