$bg-color: #212325;
$main-color: #191919;
$accent: #cbcbcb;
$compliment: #03a9f3;
$tooltip: #03a9f39c;
$hover-color: #544f4f;
$light-shadow: #827878;

.disabled {
	opacity: 0.25;
}

.grip.grip > .icon {
	color: $accent;
}

.grip.grip,
.toolbar.toolbar {
	background: $bg-color;
}

.toolbar.toolbar {
	& button {
		color: $compliment;
		&:hover {
			background: $hover-color;
		}
	}
}

.toolbar-separator.toolbar-separator {
	border-left: 1px solid $light-shadow;
	border-right: 1px solid $accent;
}

.textarea.textarea,
.textarea-wrapper.textarea-wrapper {
	background: $main-color;
	color: $accent;
}

.textarea-wrapper.textarea-wrapper {
	border: 1px solid $light-shadow;
}

.tooltip.tooltip {
	background-color: $tooltip;
}

.tooltip-arrow.tooltip-arrow {
	color: $tooltip;
}
